@-webkit-keyframes float-landing-2wj_IS {
	0% {
		-webkit-transform:translate3d(0,-4px,0) scale(0.5);
		transform:translate3d(0,-4px,0) scale(0.5)
	}
	to {
		-webkit-transform:translate3d(0,4px,0) scale(0.5);
		transform:translate3d(0,4px,0) scale(0.5)
	}
}
@keyframes float-landing-2wj_IS {
	0% {
		-webkit-transform:translate3d(0,-4px,0) scale(0.5);
		transform:translate3d(0,-4px,0) scale(0.5)
	}
	to {
		-webkit-transform:translate3d(0,4px,0) scale(0.5);
		transform:translate3d(0,4px,0) scale(0.5)
	}
}

.svg-2pomhL {
	position:absolute
}
.svg-2pomhL {
	-webkit-transition:all .5s ease;
	transition:all .5s ease
}
.float-21_26k {
	-webkit-animation-name:float-landing-2wj_IS;
	animation-name:float-landing-2wj_IS;
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	animation-direction:alternate;
	-webkit-animation-timing-function:ease-in-out;
	animation-timing-function:ease-in-out
}

.vertical-feature-block {
    margin-bottom: 3rem;
    text-align: center;
}
.vertical-feature-block {
	float:left;
    margin-bottom: 3rem;
    position: relative;
}
.column, .columns {
    padding-right: .9375rem;
    padding-left: .9375rem;
}
.column, .columns {
    width: 100%;
    float: left;
    padding-right: .500rem;
    padding-left: .500rem;
}


.row .column.row.row,
.row .row.row.columns {
 margin-right:0;
 margin-left:0;
 padding-right:0;
 padding-left:0
}
.row {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

.header-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    text-align: center;
}

.hero-subheader {
	margin-bottom:-150px;
}

.sites-button {
    border-color: black;
    border-width: 2px;
}

.main-button {
	position:absolute;
    top:2px;
	left:5px;
}

.sites-button:hover, .sites-button:focus {
    border-color: white;
}

.container-hover {
	margin-bottom:2rem;
	padding-bottom:0.25rem;
	padding-left:1.5rem;
	padding-right:1rem;
	padding-top:1rem;
	border: 1px solid #a6a6a6;
	border-radius: 5px 5px 5px 5px;
	transition:background .25s ease-in-out;
}
.container-hover.horizontal {
 padding:2.5rem 0
}
.container-hover p {
 color:#333;
 margin-bottom:15px;
}
.container-hover p .thumb-description {
 color:#0a0a0a
}
.container-hover h3, .container-hover h6 {
 color:#1d92cf
}

.accordion-content {
    background-color: #ffece2 !important;
}


ul {
    text-align: center;
    list-style-position: inside;
}
.parent {
  text-align: center;
}
.parent > ul {
  display: inline-block;
}

.icon {
	color:#1779ba;
	font-size:30px;
}

.objects {
 margin-top:25px;
}

*, ::before, ::after {
    box-sizing: inherit;
}